<%- include ("_header") -%> 
<div class="content">
    <div class="actions-wrapper">
        <button class="button add" type="button">
            + ADICIONAR HOSPEDE
        </button>
        
        <button class="button print" type="button">
            IMPRIMIR
        </button>
        
    </div>
    
    <%- include (`parts/${page}`) %> 
    
</div>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script src="../db/hospedes.js"></script>
</body>
</html>